PL_Load_Files_By_Type_support_live/pipeline/PL_Load_Files_By_Type.json
{
    "name": "PL_Load_Files_By_Type",
    "properties": {
        "activities": [
            {
                "name": "Get_File_List",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DelimitedText1",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach_File",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get_File_List",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get_File_List').output.childItems\n",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "If_CUST_MSTR",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@startsWith(item().name, 'CUST_MSTR_')\n\n",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set_FileDate_CUST_MSTR",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "FileDate",
                                            "value": "@substring(item().name, 10, 8)\n"
                                        }
                                    },
                                    {
                                        "name": "Truncate_CUST_MSTR",
                                        "type": "Script",
                                        "dependsOn": [
                                            {
                                                "activity": "Set_FileDate_CUST_MSTR",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "linkedServiceName": {
                                            "referenceName": "LS_AzureSQL",
                                            "type": "LinkedServiceReference"
                                        },
                                        "typeProperties": {
                                            "scripts": [
                                                {
                                                    "type": "Query",
                                                    "text": "TRUNCATE TABLE [dbo].[CUST_MSTR]\n\n\n\n"
                                                }
                                            ],
                                            "scriptBlockExecutionTimeout": "02:00:00"
                                        }
                                    },
                                    {
                                        "name": "Copy_CUST_MSTR",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Truncate_CUST_MSTR",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "AzureSqlSink",
                                                "writeBehavior": "insert",
                                                "sqlWriterUseTableLock": false
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_CUST_MSTR_CSV",
                                                "type": "DatasetReference"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_SQL_CUST_MSTR",
                                                "type": "DatasetReference"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "name": "If_Master_Child",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "If_CUST_MSTR",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@startsWith(item().name, 'master_child_export-')\n",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set variable2",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Set variable1",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "FileDateFormatted",
                                            "value": "@concat(substring(item().name, 20, 4), '-', substring(item().name, 24, 2), '-', substring(item().name, 26, 2))\n"
                                        }
                                    },
                                    {
                                        "name": "Truncate_Master_Child",
                                        "type": "Script",
                                        "dependsOn": [
                                            {
                                                "activity": "Set variable2",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "linkedServiceName": {
                                            "referenceName": "LS_AzureSQL",
                                            "type": "LinkedServiceReference"
                                        },
                                        "typeProperties": {
                                            "scripts": [
                                                {
                                                    "type": "Query",
                                                    "text": "TRUNCATE TABLE [dbo].[master_child]\n\n"
                                                }
                                            ],
                                            "scriptBlockExecutionTimeout": "02:00:00"
                                        }
                                    },
                                    {
                                        "name": "Copy data1",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Truncate_Master_Child",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "AzureSqlSink",
                                                "writeBehavior": "insert",
                                                "sqlWriterUseTableLock": false
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_MASTER_CHILD_CSV",
                                                "type": "DatasetReference"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_SQL_MASTER_CHILD",
                                                "type": "DatasetReference"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Set variable1",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "FileDate",
                                            "value": "@substring(item().name, 20, 8)\n"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "If_H_ECOM_ORDER",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "If_Master_Child",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().name, 'H_ECOM_ORDER.csv')\n",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Truncate_H_ECOM_ORDER",
                                        "type": "Script",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "linkedServiceName": {
                                            "referenceName": "LS_AzureSQL",
                                            "type": "LinkedServiceReference"
                                        },
                                        "typeProperties": {
                                            "scripts": [
                                                {
                                                    "type": "Query",
                                                    "text": "TRUNCATE TABLE dbo.H_ECOM_Orders;\n"
                                                }
                                            ],
                                            "scriptBlockExecutionTimeout": "02:00:00"
                                        }
                                    },
                                    {
                                        "name": "Copy_H_ECOM_ORDER",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Truncate_H_ECOM_ORDER",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "AzureSqlSink",
                                                "writeBehavior": "insert",
                                                "sqlWriterUseTableLock": false
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_H_ECOM_ORDER_CSV",
                                                "type": "DatasetReference"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_SQL_H_ECOM_ORDERS",
                                                "type": "DatasetReference"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "FileDate": {
                "type": "String"
            },
            "FileDateFormatted": {
                "type": "String"
            }
        },
        "annotations": []
    }
}